body {
    background-color: #141414;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.login-box {
    width: 100%;
}

.login-box h1 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f6121d;
}

.signup {
    margin-top: 20px;
    text-align: center;
}

.signup a {
    color: #fff;
    text-decoration: underline;
}
